* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
}
:root {
    --first-color: darkmagenta;
    --second-color: #620062;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;

}
main {
    flex: 1 1 auto;
}
.container {
    margin: 0 auto;
    max-width: calc(1100px - 70px);
    padding: 0 70px;
}